@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(15% 0.09 281.288);  /* OK */
	--color-base-200: oklch(20% 0.09 281.288);  /* OK */
	--color-base-300: oklch(25% 0.09 281.288);  /* OK */
	--color-base-content: oklch(82% 0.115 274.713);  /* OK */
	--color-primary: oklch(79% 0.202 349.761);  /* OK */
	--color-primary-content: oklch(24% 0.109 3.907);  /* OK */
	--color-secondary: oklch(82% 0.111 230.318);  /* OK */
	--color-secondary-content: oklch(29% 0.066 243.157);  /* OK */
	--color-accent: oklch(75% 0.183 55.934);  /* OK */
	--color-accent-content: oklch(24% 0.079 36.259);  /* OK */
	--color-neutral: oklch(40% 0.24 277.023);  /* OK */
	--color-neutral-content: oklch(88% 0.065 274.039);  /* OK */
	--color-info: oklch(78% 0.16 232.661);  /* OK */
	--color-info-content: oklch(29% 0.066 243.157);  /* OK */
	--color-success: oklch(77% 0.152 181.912);  /* OK */
	--color-success-content: oklch(27% 0.046 192.524);  /* OK */
	--color-warning: oklch(90% 0.182 98.111);  /* OK */
	--color-warning-content: oklch(40% 0.095 57.708);  /* OK */
	--color-error: oklch(73.7% 0.121 32.639);  /* OK */
	--color-error-content: oklch(23.501% 0.096 290.329);  /* OK */
	--radius-selector: 2rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(98% 0.016 73.684);  /* OK */
	--color-base-200: oklch(95% 0.038 75.164);  /* OK */
	--color-base-300: oklch(90% 0.076 70.697);  /* OK */
	--color-base-content: oklch(34% 0.123 38.172);  /* OK */
	--color-primary: oklch(0% 0 0);  /* OK */
	--color-primary-content: oklch(100% 0 0);  /* OK */
	--color-secondary: oklch(22.45% 0.075 37.85);  /* OK */
	--color-secondary-content: oklch(90% 0.076 70.697);  /* OK */
	--color-accent: oklch(40% 0.111 37.85);  /* OK */
	--color-accent-content: oklch(90% 0.076 70.697);  /* OK */
	--color-neutral: oklch(40% 0.195 38.402);  /* OK */
	--color-neutral-content: oklch(98% 0.016 73.684);  /* OK */
	--color-info: oklch(40% 0.199 265.638);  /* OK */
	--color-info-content: oklch(90% 0.076 70.697);  /* OK */
	--color-success: oklch(37% 0.095 166.913);  /* OK */
	--color-success-content: oklch(90% 0.076 70.697);  /* OK */
	--color-warning: oklch(89% 0.189 84.429);  /* OK */
	--color-warning-content: oklch(38% 0.112 45.904);  /* OK */
	--color-error: oklch(87% 0.191 22.216);  /* OK */
	--color-error-content: oklch(37% 0.141 25.723);  /* OK */
	--radius-selector: 2rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 1;
	--noise: 0;
}

* {
	font-family: 'Noto Sans', sans-serif;
}
